.featureUnitDiv{
    width: 100%;
    height: 64px;
    margin: 0 0 20px 0;
    cursor:pointer;
    transition: 0.2s all;
  }
  .featureUnitDiv:hover{
    transform: scale(1.05);
  }
  .featureUnitDiv .active{
    color: #000 !important;
    font-size: 18px;
  }
  .featureUnitDiv h4{
    color: #4a6ee0;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    transition: 0.5s all;
  }
  .featureUnitDiv p{
    color: #6D758D;
    font-size:14px;
    margin: 5px 0;
  }
  .progressBar{
    width: 100%;
    height: 2px;
    background-color: #e7e9f5;
    border-radius: 1px;
    margin-top: 15px;
  }
  .progressBar > div{
    background-color: #000;
    height: 100%;
  }